<div class="form">
  <h2>Join Existing Team</h2>
  <p><small>Want to create a new team? <a href="/teams/new" class="underline red">Click here</a>!</small></p>
  <%= form_tag(join_team_path, method: :get) do %>
    <%= text_field_tag :teamname, params[:teamname], :placeholder => "Enter Team Name" %>
    <%= submit_tag 'Search', name: nil, :class => "submit-button" %>
  <% end %>


  <% if @teams %>
    <% @teams.each do |team| %>
      <a href="teams/<%= team.id %>"><%= team.teamname %></a>
    <% end %>
  <% end %>

</div>
