<center><h2 id="team-show-teamname"><%= @team.teamname.titleize %></h2></center>
<% if @user.team_id.blank? %>
  <center><h2>Enter Team Password to Join</h2></center>
  <%= form_tag(team_path, method: :get) do %>
    <%= password_field_tag :password, params[:password], :placeholder => "Team Password" %>
    <%= submit_tag 'Submit', name: nil, :class => "submit-button" %>
  <% end %>

<% elsif @challenge.blank? %>
  <%= form_for ([@team, @new_challenge]) do |f| %>
    <%= f.hidden_field :team_id, :value => @team.id %>
    <%= f.submit "Begin Challenge?", :class => "submit-button" %>
  <% end %>
  <div id="team-show">
    <div id="team-member-list">
      <p><b>Team Members:</b></p>
      <% @users.each do |user| %>
        <p><%= link_to user.name, @user %></p>
      <% end %>
    </div>
    <div id="team-member-scores">
      <p><b>Scores:</b></p>
      <% @users.each do |user| %>
        <p>0</p>
      <% end %>
    </div>
  </div>

<% else %>

  <div id="team-show">
    <div id="team-member-list">
      <p><b>Team Members:</b></p>
      <% @users.each do |user| %>
        <p><%= link_to user.name, @user %></p>
      <% end %>
    </div>
    <div id="team-member-scores">
      <p><b>Scores:</b></p>
      <% @users.each do |user| %>
        <p><%= @presidents.where(defeated_by: user.id).count %></p>
      <% end %>
    </div>
  </div>



<% end %>
