<% if @user.team_id.blank? %>

  <%= form_tag(team_path, method: :get) do %>
    <%= password_field_tag :password, params[:password] %>
    <%= submit_tag 'Search', name: nil %>
  <% end %>

<% else %>
  <h2 id="team-show-teamname"><%= @team.teamname %></h2>
  <div id="team-show">
    <div id="team-member-list">
      <p><b>Team members:</b></p>
      <% @users.each do |user| %>
        <p><%= link_to @user.name, @user %></p>
      <% end %>
    </div>
    <div id="team-member-scores">
      <p><b>Scores:</b></p>
      <% @users.each do |user| %>
        <p><%= @presidents.where(defeated_by: user.id).count %></p>
      <% end %>
    </div>
  </div>

  <% unless @challenge %>
    <%= form_for ([@team, @new_challenge]) do |f| %>
      <%= f.hidden_field :team_id, :value => @team.id %>
      <%= f.submit "Begin Challenge?" %>
    <% end %>
  <% end %>

<% end %>
