<div class="form">
  <h2>Create Account</h2>

  <%= form_for @user, url: {action: "create"}, :autocomplete => "on" do |f| %>

    <%= f.text_field :name, :placeholder => "Name", :autocomplete => "given-name" %>

    <%= f.password_field :password, :placeholder => "Password (must be 5 characters)", :autocomplete => "new-password" %>

    <%= f.password_field :password_confirmation, :placeholder => "Confirm Password", :autocomplete => "new-password" %>

    <%= f.hidden_field :team_id, :value => nil %>

    <%= f.submit "Create" %>
  <% end %>

  <p>Got an account? <a href="/login">Login</a></p>
</div>
